<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Patient Management Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="bg-secondary p-3">
<div align="center">
    <h2>Welcome to Patient Management Application</h2>
    <br>
    <h3>-- Get Patient By ID --</h3>
    <form action="#" th:action="@{/patient/getPatientByID}" th:object="${patient}" method="POST">
        <input type="number" th:field="*{id}" placeholder="Patient ID"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Get Patient</button>
    </form>
    <br>
    <h3>-- Get Service By ID --</h3>
    <form action="#" th:action="@{/patient/getServiceByID}" th:object="${service}" method="POST">
        <input type="number" th:field="*{id}" placeholder="Service ID"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Get Service</button>
    </form>
    <hr>
    <a th:href="@{/patient}"> Back to HomePage</a>
</div>
</body>
</html>